{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'players/css/player.css' %}" />
  </head>
  <body>
    <main id="player-main-wrapper">
      <div class="player">
        <div class="player-data">
          <div class="player-images">
            <img
              src="{{player.images.transparent.256x256}}"
              alt=""
              class="player-image"
            />
            <img src="{{player.team.badgeColor}}" class="player-team-image" />
          </div>
          <div class="player-left">
            <p>{{player.nickname}}</p>
            <p>{{player.playerStatus}}</p>
          </div>
          <div class="player-right">
            <p>{{player.marketValue}}</p>
            <p>{{player.points}}</p>
            <p>{{player.averagePoints}}</p>
          </div>
        </div>
        
        <div class="stats">
          {%for i in 10|range_filter%}
            <h1>hxh</h1>
          {%endfor%}
        </div>
      </div>
    </main>
  </body>
</html>
