{% load vite %}
{% load number %}{% load round %}{% load position %}{% load status %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% vite %} 
    {% vite 'players/css/players.css'%}
    {% vite 'players/js/players.js'%}
  </head>
  <body>
    <main id="main">
      <h1>Players</h1>
      <div id="filters">
        <div class="search-player">
          <input type="text" name="search" id="search">
        </div>
        <div class="select-filters">
          <select name="position" id="position">
            <option value="default">Posición</option>
            {%for key, value in positions.items%}
              <option value="{{key}}">{{value}}</option>
            {%endfor%}
          </select>
          <select name="team" id="team">
            <option value="default">Equipo</option>
            {%for key, value in teams.items%}
              
              <option value="{{key}}">{{value}}</option>
            {%endfor%}
          </select>
        </div>
      </div>
      <div id="players-wrapper">
        {%for player in data_paged%}
        <div class="player-wrapper">
          <div class="player">
            <div class="player-images">
              <img
                src="{{player.images.transparent.256x256}}"
                alt=""
                class="player-image"
              />
              <img src="{{player.team.badgeColor}}" class="player-team-image" />
            </div>
            <div class="player-data-wrapper">
              <div class="player-data">
                <div class="player-left">
                  <div class="player-name">
                    <p class="position-{{player.positionId|position|upper}}">{{player.positionId|position|upper}}</p>
                    <p>{{player.nickname}}</p>
                  </div>
                  <div class="status">
                    {% if player.playerStatus == "ok" %}
                      <img src="{% static 'players/img/tick.svg' %}" alt="ok" class="svg">
                      <p>Alineable</p>
                    {% elif player.playerStatus == "injured" %}
                      <img src="{% static 'players/img/injured.svg' %}" alt="injured" class="svg">
                      <p>Lesionado</p>
                    {% elif player.playerStatus == "suspended" %}
                      <img src="{% static 'players/img/suspended.svg' %}" alt="suspended" class="svg">
                      <p>Suspendido</p>
                    {% elif player.playerStatus == "doubtful" %}
                      <img src="{% static 'players/img/doubtful.svg' %}" alt="doubtful" class="svg">
                      <p>Dudoso</p>
                    {% endif %}
                  </div>
                  <div class="market-value">
                    <img src="{% static 'players/img/euro.svg' %}" alt="euro" class="svg">
                    <p>{{player.marketValue|number}}</p>
                  </div>
                  
                </div>
                <div class="player-right">
                  
                  <p class="font-20"><span class="gray-text font-12">PFSY: </span> {{player.points}}</p>
                  <p class="font-12"><span class="gray-text font-12">MEDIA: </span> {{player.averagePoints|round}}</p>
                </div>
              </div>
            </div>
          </div> 
        </div>
        
        {%endfor%}
        
      </div>
      <div class="pagination">
        <button class="previous">Anterior</button>
        <button class="next">Siguiente</button>
      </div>
    </main>
  </body>
</html>
