{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'login/css/login.css' %}">
</head>
<body>
    <main id="login-main-wrapper">
        <h1>La Liga Fantasy App</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="token">Ingrese el token:</label>
            <input type="text" name="token" id="token">
            <input type="submit">
        </form>
    </main>
</body>
</html>