
#player-main-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.player{
    display: flex;
    flex-direction: column;
}
.player-data{
    display: flex;
}
.team{
    display: flex;
}
.player-images{
    width: 120px;
    position: relative;
}
.player-image{
    width: 100px;
    height: 100px;
}
.player-team-image {
    position: absolute;
    
    bottom: 10px;
    right: 10px; 
    width: 50px;
    height: auto;
}